<div class="detail-container">
  <img class="product-image" src="{{ product.url }}" />
  <div class="detail-item">
    <div class="name">{{ product.name }}</div>
    <div class="description">{{ product.description }}</div>
    <div class="price">{{ product.price | currency: 'USD' }}</div>
    <form (ngSubmit)="handleItemAdded()">
      <div class="quantity">
        <div class="label">Select order quantity</div>
        <input name="quantity" class="number-input" type="number" [(ngModel)]="quantity" #quant="ngModel" min="1">
      </div>
      <div class="submit">
        <input type="submit" value="Add to cart" class="submit-button" [disabled]="quant.invalid"/>
      </div>
    </form>
    <div class="back">
      <a routerLink="/">Check out more products</a>
    </div>
  </div>
</div>
