/* You can add global styles to this file, and also import other style files */

$main-color: #55588e;
$main-color-contrast: #eeeeee;
$main-color-darker: #3b3d68;

$button-default-height: 3em;
$button-default-border-radius: .5em;

// There are many values that could be put here, also some classes in general
